<div class="col-md-6 col-sm-12 blog-padding-right">
    <div class="single-blog two-column">
        <div class="post-content overflow">
            <h2 class="post-title bold"><a 
                data-template-bind='[
                     {"attribute": "id", "value": "id", "formatter": "IdFormatter"}]'
            data-id="id" format="IdFormatter" data-content="title"></a></h2>
            <h3 class="post-author"><a href="#" data-content="owner.emailAddress" data-format="PostedByFormatter"></a></h3>
            <p data-content="content"></p>
            <a data-id="id" format="ViewMoreFormatter" class="read-more">View More</a>
            <div class="post-bottom overflow">
                <ul class="nav nav-justified post-nav">
                    <li><a href="#"><i class="fa fa-tag"></i>Creative</a></li>
                    <li><a href="#"><i class="fa fa-heart"></i>32 Love</a></li>
                    <li><a href="#"><i class="fa fa-comments"></i>3 Comments</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>